:root {
    --light-gray: rgb(142, 139, 139);
    --soft-blue: rgb(94, 162, 199);
}

/* * {
    box-sizing: border-box;
    border-style: solid;
} */

html {
    font-size: 18px;
    display: block;
    width: 100%;
}

.svg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 110'%3E%3Cdefs%3E%3Cstyle%3E @keyframes rotate %7B 0%25 %7B transform: rotate(0deg); %7D 100%25 %7B transform: rotate(360deg); %7D %7D .out-top %7B animation: rotate 20s linear infinite; transform-origin: 13px 25px; %7D .out-bottom %7B animation: rotate 20s linear infinite; transform-origin: 87px 105px; %7D %3C/style%3E%3C/defs%3E%3Cpath fill='none' style='opacity: 0.2;' stroke-width='0.2' stroke='rgb(94, 162, 199)' class='out-top' d='M 37,-5 C 25.1,-14.7 5.7,-19.1 -9.2,-10 C -28.5,1.8 -32.7,31.1 -19.8,49 c 15.5,21.5 52.6,22 67.2,2.3 C 59.4,35 53.7,8.5 37,-5 Z'/%3E%3Cpath fill='none' style='opacity: 0.2;' stroke-width='0.2' stroke='rgb(35, 132, 101)' class='out-bottom' d='M 100,80 C 67.8,69.1 50.7,94.1 50.2,110 C 51.1,120.8 56,129.6 65.3,135.6 c 15,10 35,-5 35,-5.16 C 135.2,98.4 100.7,80.02 100,80 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    /* opacity: 0; */
}

html, body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100%;
    padding-bottom: 20%;   
}

body#resume {
    padding-bottom: 50%;
}

body#about {
    padding-bottom: 50%;
}

body {
    display: flex;
    flex-direction: column;
}

.header-wrapper, .main-wrapper, .main-wrapper-about {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-wrapper {
    padding-top: 5rem;;
}

.header-div {
    align-items: flex-start;
    flex-direction: row;
}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 60px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
}

.home {
    overflow: hidden;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

h1 {
    text-align: left;
    line-height: 2;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a#thoughts {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}

nav {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: var(--soft-blue);
}

div {
    display: block;
}

.main-wrapper {
    height: 100%;
    opacity: 0;
}

.animate-word {
    margin: 0;
    color: var(--soft-blue);
    overflow: hidden;
}

.word-list {
    display: inline-block;
    display: none;
    font-weight: 700;
    color: black;
    text-decoration: None;
}

.change-word {
    display: inline-block;
    animation: push-up .5s ease;
}

.change-word2 {
    animation: push-out .5s ease;
}

.fade-in {
    animation: fade-in 0.8s ease;
    opacity: 1;
}

.fade-in-animation {
    animation: fade-in-animation 0.8s ease;
    opacity: 0.5;
}

@keyframes push-up {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}

@keyframes push-out {
    0%   { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}

@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-in-animation {
    0%   { opacity: 0; }
    100% { opacity: 0.5; }
}

.content-main-div {
    margin-top: 2.5rem;
}

#resume-content-education {
    text-align: left;
    line-height: 0.1rem;
    margin-top: 2.5rem;
    margin-bottom: 1.8rem;
}

@media (min-width: 1000px) {
    .hidden-ss {
        display: none !important;
    }

    .hidden-nav-break {
        display: none !important;
    }
}

@media (max-width: 1000px) {
    body {
        padding-top: 2.5rem;
        font-size: 0.8rem;
    }

    header {
        height: 90px;
    }

    .hidden-ss {
        display: none;
    }

    nav {
        flex-direction: column;
        text-align: right;
        line-height: 0.5rem;
        font-size: 0.8rem;
    }

    .home {
        font-size: 1.2rem;
        flex-direction: column;
        text-align: left;
        line-height: 1.5;
    }

    .header-wrapper, .main-wrapper {
        width: 60%;
    }

    a#thoughts {
        margin-right: 0;
        margin-left: 0;
    }
}  

@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 1000px) 
  and (orientation: portrait) { 

    .header-wrapper, .main-wrapper, .main-wrapper-about {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    .home .home-name {
        font-size: 20px;
        flex-direction: column;
        line-height: 0;
        text-align: left;
    }

    .home {
        vertical-align: top;
    }

    #resume-teaching {
        margin-top: 1rem;
        font-size: 1em;
        flex-direction: column;
    }

    nav {
        flex-direction: column;
        text-align: right;
        line-height: 0.5rem;
        margin-top: 0.3rem;
    }

    .img-wrapper {
        margin-top: 0.3rem;
    }

    .hidden-ss {
        display: none;
    }

    header {
        height: 100px;
    }

    .content-main-div {
        margin-top: 1.5rem;
    }

    html {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

@media only screen 
  and (min-device-width: 390px)
  and (max-device-width: 1000px)
  and (-webkit-device-pixel-ratio: 3) {
    nav {
        flex-direction: column;
        text-align: right;
        line-height: 1.4rem;
        font-size: 0.8rem;
        margin-top: 0;
    }

    #harvard-break {
        display: block;
        content: " ";
        margin-top: 5rem;
    }

    #resume-content-education {
        text-align: left;
        line-height: 1rem;
        margin-top: 2.5rem;
        margin-bottom: 1.8rem;
    }
} 

@media only screen 
  and (min-device-width: 390px)
  and (max-device-width: 1000px)
  and (-webkit-device-pixel-ratio: 2) {
    nav {
        flex-direction: column;
        text-align: right;
        line-height: 0.6rem;
        font-size: 0.8rem;
        margin-top: 0;
    }

    #resume-content-education {
        text-align: left;
        line-height: 1rem;
        margin-top: 2.5rem;
        margin-bottom: 1.8rem;
    }

    #harvard-break {
        display: block;
        content: " ";
        margin-top: 0;
    }
} 

img {
    width: 200px;
    height: 10%;
    border-radius: 0 50% 50% 50%;
    border: 2px solid var(--soft-blue);
    object-fit: cover;
    z-index: -1;
}

.img-wrapper {
    margin-top: 0.2rem;
}

#image-link {
    margin-top: 0px;
}

.main-wrapper-about {
    height: 100%;
}

.content-main-div-about {
    margin-top: 11rem;
}

h3 {
    text-align: center;
    line-height: 1rem;
}

#resume-teaching {
    margin-top: 0;
}

.text-gray {
    color: var(--light-gray);
}

.font-small {
    font-size: small;
}

.align-right {
    float: right;
}

br {
    display: block;
    content: " ";
    margin-top: 1rem;
}

.small-break {
    margin-top: 0.5rem;
    display: block;
    content: " ";
}

.font-medium {
    font-size: medium;
    font-weight: 400;
}

.font-md-small {
    font-size: 0.9em;
    font-weight: 300;
}

.font-small {
    font-size: small;
}

.mb-small {
    margin-bottom: 0.3rem;
}

.mt-nromal {
    margin-top: 1rem;
}

.mt-small {
    margin-top: 0.3rem;
}

#class-list {
    margin: 0;
    padding-left: 1.3rem;
}

#resume-teaching {
    margin-top: 0.2rem;
    margin-bottom: 0;
}

#resume-content-experience {
    font-weight: 400;
    text-align: left;
    line-height: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.experience-section {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#experience-section-end {
    padding-bottom: 25%;
}

.underline {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.underline:hover {
    color: #000;
}

.underline:after {
    display: block;
    content: "";
    border-bottom: solid 2px #000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}

.underline:hover:after {
    transform: scaleX(1);
    transform-origin: 0 50%;
}