html {
    font-size: 18px;
    display: block;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* * {
    box-sizing: border-box;
    border-style: solid;
} */

body {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.header-wrapper, .main-wrapper {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-div {
    align-items: flex-start;
    flex-direction: row;
}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 60px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
}

.home {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

h1 {
    text-align: center;
    line-height: 2;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a#thoughts {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}

.link-hover:hover {
    color: black;
}

nav {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: rgb(142, 139, 139);
}

div {
    display: block;
}

.main-wrapper {
    /* overflow: hidden; */
    height: 100%;
    opacity: 0;
}

.animate-word {
    margin: 0;
    color: rgb(142, 139, 139);
    overflow: hidden;
}

.word-list {
    display: inline-block;
    display: none;
    font-weight: 700;
    color: black;
    text-decoration: None;
}

.change-word {
    display: inline-block;
    animation: push-up .5s ease;
}

.change-word2 {
    animation: push-out .5s ease;
}

.fade-in {
    animation: fade-in 1s ease;
    opacity: 1;
}

@keyframes push-up {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}

@keyframes push-out {
    0%   { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}

@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.content-main-div {
    margin-top: 2.5rem;
}

@media (min-width: 1000px) {
    .hidden-ss {
        display: none !important;
    }

    .hidden-nav-break {
        display: none !important;
    }
}

@media (max-width: 1000px) {
    body {
        padding-top: 2.5rem;
        font-size: 0.8rem;
    }

    header {
        height: 90px;
    }

    nav {
        flex-direction: column;
        text-align: right;
        line-height: 1.5;
        font-size: 0.8rem;
    }

    .home {
        font-size: 1.2rem;
        flex-direction: column;
        text-align: left;
        line-height: 1.5;
    }

    .link-hover {
        display: inline;
    }

    .header-wrapper, .main-wrapper {
        width: 60%;
    }

    a#thoughts {
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    .home {
        font-size: 20px;
        flex-direction: column;
        line-height: 1.8;
        text-align: left;
    }

    nav {
        flex-direction: column;
        text-align: right;
        line-height: 1.5;
    }

    header {
        height: 100px;
    }

    .content-main-div {
        margin-top: 1.5rem;
    }

    html {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        /* More properties for a fixed height ... */
    }
}
